:root {
  --yellow: rgb(255, 255, 51);
  --white: rgb(255, 255, 255);
  --dark-blue: rgba(33, 26, 144, 1);
  --purple: rgba(124, 51, 185, 1);
  --light-gray: rgb(226, 226, 226);
  --black: rgb(0, 0, 0);
  --darker-yellow: rgb(204, 204, 0);
  --dark-green: rgb(0, 102, 0);
  --red: rgb(204, 0, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: var(--white);
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 5rem;
}

header nav ul li a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

main {
  margin-top: 80px;
}

section {
  padding: 40px;
  text-align: center;
}

section:nth-child(odd) {
  background-color: var(--yellow);
}

section:nth-child(even) {
  background-color: var(--dark-green);
}

.project {
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--dark-green);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea,
form button {
  width: 94%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid --light-gray;
  border-radius: 5px;
}

form button {
  width: 94%;
  background-color: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: var(--purple);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error-message {
  color: var(--red);
  font-size: 0.9em;
  margin-top: 5px;
}
