:root {
  --yellow: rgb(255, 217, 0);
  --white: rgb(255, 255, 255);
  --dark-blue: rgba(22, 20, 120, 1);
  --purple: rgba(90, 40, 140, 1);
  --light-gray: rgb(180, 180, 180);
  --black: rgb(0, 0, 0);
  --darker-yellow: rgb(204, 163, 0);
  --dark-green: rgb(0, 85, 0);
  --red: rgb(153, 0, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: var(--white);
  padding: 1.3rem;
  position: fixed;
  width: 100%;
  top: 0;
  border: 10px solid var(--black);
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 5rem;
}

header nav ul li a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  background-color: var(--light-gray);
  color: var(--black);
  cursor: pointer;
}

main {
  margin-top: 80px;
}

section {
  padding: 40px;
  text-align: center;
}

section:nth-child(odd) {
  background-color: var(--yellow);
  color: var(--black);
}

section:nth-child(even) {
  background-color: var(--dark-green);
  color: var(--white);
}

.project {
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--dark-green);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 1px solid var(--light-gray);
  padding: 20px;
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
}

legend {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea,
form button {
  width: 94%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
}

form button {
  width: auto;
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

form button:hover {
  background-color: var(--dark-blue);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error-message {
  color: var(--red);
  font-size: 0.9em;
  margin-top: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--black);
}

.modal-content {
  background-color: var(--white);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid --light-gray;
  width: 50%;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: var(--light-gray);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

/* For mobile screens with minimum width of 414px x 720px */
@media screen and (max-width: 414px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    margin: 0.5rem 0;
  }
  main {
    margin-top: 120px;
  }
  section {
    padding: 20px;
    text-align: left;
  }
  form {
    width: 90%;
    padding: 10px;
  }
  .modal-content {
    width: 90%;
    padding: 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .project {
    margin-bottom: 15px;
  }
}

/* For large screens with width of 1024px x 720px */
@media screen and (min-width: 1024px) {
  header nav ul {
    justify-content: flex-start;
    padding-left: 20px;
  }
  header nav ul li {
    margin: 0 2rem;
  }
  section {
    padding: 60px;
    text-align: center;
  }
  form {
    max-width: 600px;
    padding: 20px;
  }
  .modal-content {
    width: 50%;
    padding: 30px;
  }
  .project {
    margin-bottom: 30px;
  }
}
